body {
  color: rgb(229, 198, 241);
  background: rgb(22,0,29);
  background: linear-gradient(to bottom, #000000, #220915, #390a28, #4e0841, #5e0960, #640973, #670e88, #66179f, #6314a9, #5f13b3, #5912be, #5112c9);
}

body, html {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: "Segoe print";
  font-size: 70px;
  color: #b18fb3;
  text-shadow: 2px 2px #07435f;
}

h2 {
  font-family: "Unispace";
  font-size: 30px;
  text-align: center;
}

fieldset { 
  border: #555;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/top-image.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.main-text button {
  display: inline-block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  color: white;
  background-color: #555;
  border: #555;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 1.5rem;
}

.main-text button:hover {
  background-color: rgb(86, 59, 104);
  color: white;
}

.musicHub {
  position: relative;
  top: -55px;
  font-family: "ink free";
  font-size: 30px;
}

.contents {
  width: 80vw;
  max-width: 850px;
  min-width: 300px;
  margin: 0 auto;
  padding: 25px;
}

.content1, .content2 {
  font-family: "Comic Sans MS";
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bottomHalf {
  background-image: linear-gradient(to bottom, #000000, #220915, #390a28, #4e0841, #5e0960, #640973, #670e88, #66179f, #6314a9, #5f13b3, #5912be, #5112c9);
  height: 50%;
  background-repeat: no-repeat;

}

.about {
  color: rgb(0, 0, 0);
  width: 80vw;
  max-width: 850px;
  min-width: 300px;
  border-radius: 35px;
  padding: 15px;
  background: rgb(0, 0, 0);
  text-align: center;
  margin: auto;
  opacity: 0.9;
}

.aboutMe {
  padding: 3px;
  background-color: rgb(59, 0, 99);
  width: 40%;
  margin: auto;
  border-radius: 15px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 40px;
  border-radius: 10px;
  display: inline-block;
  
}

.fa:hover {
  opacity: 0.7;
}